In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="your_password",
  database="loan"
)

In [2]:
mycursor = mydb.cursor()

In [3]:
# Define schema for dimension tables
credit_info_schema = """
CREATE TABLE IF NOT EXISTS Credit_Info_Dim (
    Credit_Info_ID VARCHAR(255) PRIMARY KEY,
    ID INTEGER,
    Credit_Worthiness VARCHAR(255),
    Open_Credit VARCHAR(255),
    Credit_Type VARCHAR(255),
    Co_Applicant_Credit_Type VARCHAR(255)
);
"""

demographics_schema = """
CREATE TABLE IF NOT EXISTS Demographics_Dim (
    Demographics_ID VARCHAR(255) PRIMARY KEY,
    ID INTEGER,
    Year INTEGER,
    Gender VARCHAR(255),
    Age VARCHAR(255)
);
"""

loan_details_schema = """
CREATE TABLE IF NOT EXISTS Loan_Details_Dim (
    Loan_Details_ID VARCHAR(255) PRIMARY KEY,
    ID INTEGER,
    Loan_Limit VARCHAR(255),
    Approv_in_adv VARCHAR(255),
    Loan_Type VARCHAR(255),
    Loan_Purpose VARCHAR(255),
    Occupancy_Type VARCHAR(255),
    Total_Units VARCHAR(255)
);
"""

other_details_schema = """
CREATE TABLE IF NOT EXISTS Other_Details_Dim (
    Other_Details_ID VARCHAR(255) PRIMARY KEY,
    ID INTEGER,
    Business_or_Commercial VARCHAR(255),
    Submission_of_Application VARCHAR(255),
    Region VARCHAR(255),
    Security_Type VARCHAR(255)
);
"""

# Define schema for fact table
loan_fact_schema = """
CREATE TABLE IF NOT EXISTS Loan_Fact (
    ID INTEGER PRIMARY KEY,
    Demographics_ID VARCHAR(255),
    Loan_Details_ID VARCHAR(255),
    Credit_Info_ID VARCHAR(255),
    Other_Details_ID VARCHAR(255),
    Income FLOAT,
    LTV FLOAT,
    DTIR1 FLOAT,
    Loan_Amount FLOAT,
    Rate_of_Interest FLOAT,
    Term INTEGER,
    Property_Value FLOAT,
    Credit_Score INTEGER,
    Status INTEGER,
    FOREIGN KEY (Demographics_ID) REFERENCES Demographics_Dim(Demographics_ID),
    FOREIGN KEY (Loan_Details_ID) REFERENCES Loan_Details_Dim(Loan_Details_ID),
    FOREIGN KEY (Credit_Info_ID) REFERENCES Credit_Info_Dim(Credit_Info_ID),
    FOREIGN KEY (Other_Details_ID) REFERENCES Other_Details_Dim(Other_Details_ID)
);
"""

# Execute SQL queries to create tables
mycursor.execute(credit_info_schema)
mycursor.execute(demographics_schema)
mycursor.execute(loan_details_schema)
mycursor.execute(other_details_schema)
mycursor.execute(loan_fact_schema)

# Commit the changes
mydb.commit()

In [4]:
from sqlalchemy import create_engine

In [5]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pstan\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Read dimension tables from CSV files
creditinfo_dim_df = pd.read_csv(r'C:\Users\pstan\Desktop\DS_Topics\Spark\Credit_Info_Dim.csv')
demographic_dim_df = pd.read_csv(r'C:\Users\pstan\Desktop\DS_Topics\Spark\Demographic_Dimension.csv')
loanapp_dim_df = pd.read_csv(r'C:\Users\pstan\Desktop\DS_Topics\Spark\Loan_Application_Dimension.csv')
otherdetail_dim_df = pd.read_csv(r'C:\Users\pstan\Desktop\DS_Topics\Spark\Other_Details_Dim.csv')

# Read fact table from CSV file
loan_fact_df = pd.read_csv(r'C:\Users\pstan\Desktop\DS_Topics\Spark\Loan_Fact_Table.csv')

In [10]:
from sqlalchemy import create_engine

# Step 2: Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine("mysql+mysqlconnector://root:your_password@localhost/loan")

In [11]:
# Step 3: Convert the Pandas DataFrame to a format for MySQL table insertion

# Convert creditinfo_dim_df
creditinfo_dim_df.to_sql('Credit_Info_Dim', con=engine, if_exists='append', index=False)

# Convert demographic_dim_df
demographic_dim_df.to_sql('Demographics_Dim', con=engine, if_exists='append', index=False)

# Convert loanapp_dim_df
loanapp_dim_df.to_sql('Loan_Details_Dim', con=engine, if_exists='append', index=False)

# Convert otherdetail_dim_df
otherdetail_dim_df.to_sql('Other_Details_Dim', con=engine, if_exists='append', index=False)

# Convert loan_fact_df
loan_fact_df.to_sql('Loan_Fact', con=engine, if_exists='append', index=False)

C:\Users\pstan\AppData\Local\Temp\ipykernel_8032\3010976966.py:4: UserWarning: The provided table name 'Credit_Info_Dim' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  creditinfo_dim_df.to_sql('Credit_Info_Dim', con=engine, if_exists='append', index=False)
C:\Users\pstan\AppData\Local\Temp\ipykernel_8032\3010976966.py:7: UserWarning: The provided table name 'Demographics_Dim' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  demographic_dim_df.to_sql('Demographics_Dim', con=engine, if_exists='append', index=False)
C:\Users\pstan\AppData\Local\Temp\ipykernel_8032\3010976966.py:10: UserWarning: The provided table name 'Loan_Details_Dim' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  loanapp_dim_df.to_sql('Loan_Details_Dim', con=engine, if_exists='append', index=False)
C:\Users\pstan\AppData\Local\Temp\ipykernel_8032\3010976966.py:13: UserWarning: The provided table name 'Other_Details_Dim' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  otherdetail_dim_df.to_sql('Other_Details_Dim', con=engine, if_exists='append', index=False)
C:\Users\pstan\AppData\Local\Temp\ipykernel_8032\3010976966.py:16: UserWarning: The provided table name 'Loan_Fact' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  loan_fact_df.to_sql('Loan_Fact', con=engine, if_exists='append', index=False)

-1

In [12]:
# Execute the SQL query to join tables
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS risk_join AS
    SELECT
        f.ID,
        d.Year,
        d.Gender,
        d.Age,
        f.Income,
        f.LTV,
        f.DTIR1,
        ld.Loan_Limit,
        ld.Approv_in_adv,
        ld.Loan_Type,
        ld.Loan_Purpose,
        ld.Occupancy_Type,
        ld.Total_Units,
        ci.Credit_Worthiness,
        ci.Open_Credit,
        ci.Credit_Type,
        ci.Co_Applicant_Credit_Type,
        od.Business_or_Commercial,
        od.Submission_of_Application,
        od.Region,
        od.Security_Type,
        f.Status
    FROM
        Loan_Fact f
    JOIN Demographics_Dim d ON f.ID = d.ID
    JOIN Loan_Details_Dim ld ON f.ID = ld.ID
    JOIN Credit_Info_Dim ci ON f.ID = ci.ID
    JOIN Other_Details_Dim od ON f.ID = od.ID
""")

In [ ]:
# Close the cursor and database connection
mycursor.close()
mydb.close()